#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

  }

  form {
    margin: 20px auto;
    width: 300px; 
    padding: 15px;
    border: 1px solid #333;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  label {
        margin-left: 10px;
  }

  select, input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  .btn {
    text-align: center;
  }

  .canciones-registradas {
    text-align: left;
    margin-left: 20px;
    
  }